In [1]:
%autosave 0

Autosave disabled

The shortest imports cell I've ever written.

In [2]:
import pandas as pd

Let's convert a basic date to a datetime object using pandas. Documentation for the symbols can be found [here](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior).

In [5]:
pd.to_datetime('January 1st, 1970')

Timestamp('1970-01-01 00:00:00')

Let's read in the data for the lesson.

In [3]:
url = "https://gist.githubusercontent.com/ryanorsinger/b309f8db19e0ca71b213d4877d835e77/raw/f5841017310e2f4ca070b313529ceec2375336ba/coffee_consumption.csv"
df = pd.read_csv(url)
print(df.dtypes)
df.head()

date                   object
coffee_consumption    float64
dtype: object

         date  coffee_consumption
0  2019-01-01           14.301915
1  2019-01-02           12.905900
2  2019-01-03           10.046015
3  2019-01-04            6.354805
4  2019-01-07            8.545563

Our date column is currently an object. We need to convert it to datetime! Thankfully, with pandas vectorized operations, we can convert an entire column to datetime at once.

0     2019-01-01
1     2019-01-02
2     2019-01-03
3     2019-01-04
4     2019-01-07
         ...
256   2019-12-25
257   2019-12-26
258   2019-12-27
259   2019-12-30
260   2019-12-31
Name: date, Length: 261, dtype: datetime64[ns]

Let's access some attributes of our datetime objects.

It's very important to set the datetime object as the index and sort it. The dates farthest in the past will be at the top of the dataframe, and the most recent dates will be at the bottom (ascending = True).

We can change the period of our data. We can:
- Upsample: increase the number of data points by decreasing the time between points
- Downsample: decrease the number of data points by increasing the time between points

We will use the .asfreq() method to achieve this. Note that this technique may introduce null values into the dataset!

We can fill those missing values with a fixed value, a forward fill, or a back fill. Let's see what happens.

We can also change the period of our data using the .resample() method. This method requires an aggregate operation, much like a groupby!

We can use the .rolling() method to calculate some aggregate metric over the last "i" data points.